.my-shops-view-buyer .ma-tab__body {
   margin-top: 0;
}

.ma-card__block-buy .like {
   width: 22.5px;
   height: 19px;
}

.ma-card__block-buy .like:hover svg path {
   stroke: var(--icon-blue-l);
}

.ma-card__block-buy .ma-card__content {
   justify-content: space-between;
}

.ma-card__block-buy .ma-card__content-header {
   margin-bottom: auto;
}

.ma-card__block-buy .ma-card__content-body {
   margin: 12px 0;
   height: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.ma-card__block-buy .ma-card__slider {
   min-width: 260px;
}

.mine-ad__favorites .ma-card {
   height: 180px;
}

.ma-card__block-hit {
   height: auto !important;
}

.ma-card__block-hit .ma-card__slider {
   min-width: 310px;
}

.ma-card__block-hit .ma-card__title {
   font-size: 18px;
}

.ma-card__block-hit .ma-card__price-hit {
   font-size: 24px;
}

.ma-card__block-buy .like {
   right: 10px;
}

.ma-card__viewed {
   color: #383838;
   font-size: 11px;
   width: 100px;
   height: 24px;
   border-radius: 5px;
   background-color: #fff;
   opacity: .8;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   left: 9px;
   top: 9px;
}

.ma-card__price-hit {
   background-color: #02BC4D;
   border-radius: 3px;
   color: #fff;
   padding: 3px 10px;
}

.ma-card__hit {
   top: 5px;
   right: 10px;
   position: absolute;
   z-index: 2;
}

.ma-card__hit img {
   width: 24px;
   height: 28px;
}

.ma-card__block-hit .like {
   width: 28px;
   height: 24px;
}

.ma-card__btns {
   display: flex;
   gap: 10px;
   margin-top: 16px;
}

.ma-card__btn {
   height: 40px;
   width: auto;
   padding: 0 20px;
   font-size: 12px;
}


@media screen and (max-width: 768px) {
   .mine-ad__favorites .ma-card {
      height: auto;
   }

   .ma-card__block-buy .ma-card__slider {
      min-width: 100%;
   }

   .ma-card__btns {
      display: none;
   }

   .ma-card__block-buy .like {
      right: 0;
   }

   .my-shops-view__right-col .my-shop-view__right-empty-text-two {
      font-size: 14px;
   }
}

@media screen and (max-width: 500px) {
   .ma-card__block-hit .ma-card__price-hit {
      font-size: 18px;
   }

   .ma-card__block-hit .ma-card__title {
      font-size: 16px;
   }

}