// Пользовательские переменные
:root {
    --ffMain: 'Montserrat', sans-serif;
    --ffHeader: 'Akzidenz Grotest Pro', sans-serif;
    --ffLabel: 'Oswald', sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 10px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$ffLabel: var(--ffLabel);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$radius: var(--radius);
// $container: 1158px; // В данном проекте у контейнера нет максимальной ширины. Ширина 100%

$laptop-l: 1440px;
$laptop-m: 1280px;
$laptop: 1024px;
$tablet-l: 920px;
$tablet: 768px;
$tablet-s: 500px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile: 320px;

// Цвета
:root {
    // Текст
    --text-primary: #383838;
    --text-second-d: #888888;
    --text-second-l: #AFAFAF;
    --text-accent: #467EF3;

    // Кнопки
    // -Главная
    --btn-primary-default: #467EF3;
    --btn-primary-pressed: #3865C2;
    --btn-primary-disabled: #B5CBFA;
    // -Вторичная
    --btn-second-default: #D1DFFC;
    --btn-second-pressed: #BDC9E3;
    --btn-second-disabled: #99B8F8;

    // Инпуты
    --input-placeholder: #AFAFAF;
    --input-focus: #467EF3;
    --input-error: #CC3334;

    // Акцентные цвета
    --accent-primary: #004CFF;
    --accent-second: #383838;

    // Иконки
    --icon-primary-l: #383838;
    --icon-second: #ACACAC;
    --icon-blue-l: #467EF3;

    // Обводка
    --outline-d: #B4B4BF;
    --outline-l: #ECECEC;

    --bg-page: #F6F8FD;
    --bg-second-l: #F6F8FD;
    --bg-modal: rgba(0, 0, 0, .3);

    --accent-hover: #44BD99;
    --accent-active: #37866E;
    --accent2: #DC8B2D;
    --accent2-active: #C27B29;
    --outline: #C0C0C0;
    --bg-block: #F8F8F8;
}

$text-primary: var(--text-primary);
$text-second-d: var(--text-second-d);
$text-second-l: var(--text-second-l);
$text-accent: var(--text-accent);

$btn-primary-default: var(--btn-primary-default);
$btn-primary-pressed: var(--btn-primary-pressed);
$btn-primary-disabled: var(--btn-primary-disabled);
$btn-second-default: var(--btn-second-default);
$btn-second-pressed: var(--btn-second-pressed);
$btn-second-disabled: var(--btn-second-disabled);

$input-placeholder: var(--input-placeholder);
$input-focus: var(--input-focus);
$input-error: var(--input-error);

$accent-primary: var(--accent-primary);
$accent-second: var(--accent-second);

$icon-primary-l: var(--icon-primary-l);
$icon-second: var(--icon-second);
$icon-blue-l: var(--icon-blue-l);

$outline-d: var(--outline-d);
$outline-l: var(--outline-l);

$bg-page: var(--bg-page);
$bg-second-l: var(--bg-second-l);
$error: var(--error);
$bg-modal: var(--bg-modal);