.modal-valid-ad {

    & .modal__popup {
        max-width: 363px;
    }

    &._error {

        & .modal-valid-ad__body_error {
            display: flex;
        }
    }

    &._done {

        & .modal-valid-ad__body_done {
            display: flex;
        }
    }
}

.modal-valid-ad__body {
    display: none;
    flex-direction: column;
    align-items: center;
}

.modal-valid-ad__img {
    max-width: 140px;
    width: 100%;
}

.modal-valid-ad__title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;

    & span {
        color: $text-accent;
    }
}

.modal-valid-ad__btn {
    margin-top: 30px;
}