.list-ofr__body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.list-ofr__filter-mob {
    display: none;
    margin-bottom: 20px;
    height: 24px;
    justify-content: space-between;
    .btn {
        height: auto
    }
    @media (max-width: $tablet-s) {
        display: flex
    }
}

@import './_ofr-content';
@import './_advanced-filter';