.section.s-services {
  @media (min-width: 1101px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1801px) {
    margin-bottom: 120px;
  }
}
.s-services {
  margin-top: 50px;

  @media (max-width: $laptop-l) {
    margin-top: 0;
  }
}

.s-services__wrap {
}

.s-services__list {
  display: grid;
  grid-template-columns: 1.7fr repeat(3, 1fr) 1.96fr;
	gap: 24px;

  @media (max-width: 850px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 138px 109px 100px;
		gap: 8px;
  }

	/*
  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  @media (max-width: $mobile-m) {
    gap: 11px 10px;
  }
	*/
}

// Карточки услуг
.service-card {
	--bg: #fff;
  position: relative;
  overflow: hidden;
  background: var(--bg, #fff);
  border-radius: 10px;
	padding-top: 100%;

  @media (max-width: 850px) {
		padding-top: 0;
	}

	/*
  @media (max-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (max-width: $tablet) {
    height: 76px;
  }

  &:hover {
    @media (min-width: $minHover) {
      box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
    }
  }
	*/
}

.service-card--double {
	padding-top: 50%;
  @media (max-width: 850px) {
		padding-top: 0;
	}
}

.service-card__wrap {
}

.service-card__info {
	padding: 10px 16px;
  position: absolute;
	top: 0;
	left: 0;
  z-index: 2;

	@media (max-width: 850px) {
		padding: 12px;
	}
}

.service-card__title {
  font-family: $ffHeader;
  font-size: 18px;
	line-height: 1;

  @media (max-width: $laptop) {
    font-size: 16px;
  }

  @media (max-width: 850px) {
		margin-bottom: 4px;
		line-height: 1.2;
	}
  @media (max-width: $tablet) {
    font-size: 14px;
  }
}

.service-card--double .service-card__title {
	line-height: inherit;
}

.service-card__correction {
  font-family: $ffMain;
  font-size: 14px;
  font-weight: 500;
	display: block;

	@media (max-width: 850px) {
		font-size: 11px;
	}
}

.service-card__img {
  position: absolute;
  pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.service-card__img::before {
	display: block;
	width: var(--size);
	height: var(--size);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	--bg: var(--shape-bg);
	background: var(--bg);
}

.service-card--figure-circle .service-card__img::before {
	content: "";
	--size: 136%;//245px;
	transform: rotate(-34.643deg);
	border-radius: var(--size);
	top: 16%;//30px;
}

.service-card--double.service-card--figure-circle .service-card__img::before {
	right: -3%;//-10px;
	left: unset;
	width: 80%;

	@media (max-width: 850px) {
		right: -20%;
    left: unset;
    width: 110%;
    top: 28%;
	}
}

.service-card--figure-rhomb .service-card__img::before {
	content: "";
	--size: 80.6%;//145px;
	transform: rotate(-45deg);
	border-radius: 10px;
	top: 27%;//50px;
	left: 27%;//50px;
}

.service-card--double.service-card--figure-rhomb .service-card__img::before {
	--size: 65%;//217px
	transform: rotate(-140.139deg);
	left: 38%;//135px
	top: 3%;//25px
	height: initial;
	padding-top: 69.3%;
}

.service-card__img img {
	object-fit: cover;
	position: relative;
	z-index: 2;
}

.service-card--tuning .service-card__img img {
	width: 150%;
	top: 14%;
	left: -14%;
	height: 90%;
}
.service-card--services .service-card__img img {
	right: 48%;//160px;
	width: 160%;

	@media (max-width: 1280px) {
		right: 42%;
	}
	@media (max-width: 1110px) {
		right: 36%;
	}
	@media (max-width: 992px) {
		right: 26%;
	}
	@media (max-width: 850px) {
	}
	@media (max-width: $tablet) {
	}
	@media (max-width: $mobile-m) {
	}
}

.s-services__list {
  & .service-card {
    &:nth-child(1) {
			@media (max-width: 850px) {
				grid-column: span 7;

				.service-card__img {
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
				}
				.service-card__img img {
					height: 90%;
				}
			}

    }

    &:nth-child(2) {
			@media (max-width: 850px) {
				grid-column: span 5;
			}
    }

    &:nth-child(3) {
			@media (max-width: 850px) {
				grid-column: span 4;

				.service-card__img {
					display: flex;
					align-items: flex-end;
					justify-content: center;
				}

				.service-card__img img {
					height: 70%;
					width: 81%;
					margin-bottom: 9px;
					margin-right: 10px;
				}

				.service-card__img::before {
					--size: 118%;
					top: 51%;
					left: -28%;
					transform: rotate(-54deg);
				}
			}
    }

    &:nth-child(4) {
			@media (max-width: 850px) {
				grid-column: span 8;

				.service-card__img img {
					width: 100%;
					top: 5%;
					left: 0%;
					height: 90%;
				}

				.service-card__img::before {
					left: -30%;
					top: -60%;
					width: 90%;
					height: 170%;
					transform: rotate(135deg);
				}
			}
    }

    &:nth-child(5) {
			@media (max-width: 850px) {
				grid-column: span 12;

				.service-card__img img {
					right: 0;
					width: 100%;
				}
				.service-card__img::before {
					--size: 40;
					padding-top: 42%;
					top: -73%;
					left: unset;
					right: 8%;
				}
			}
    }

		/*
    &:nth-child(6) {
      & .service-card__img {
        bottom: -95px;
        left: 125px;
        width: 356px;

        @media (max-width: $laptop-l) {
          // bottom: -76px;
          bottom: -91px;
          left: 89px;
          width: 256px;
        }

        @media (max-width: $laptop-m) {
          left: 83px;
          width: 240px;
        }

        @media (max-width: $laptop) {
          right: -30px;
          bottom: -66px;
          left: auto;
          width: 200px;
          height: 200px;
        }

        @media (max-width: $tablet) {
          width: 168px;
          height: 163px;
        }

        @media (max-width: $mobile-l) {
          right: -23px;
          bottom: -87px;
        }
      }
    }

    &:nth-child(7) {
      & .service-card__img {
        bottom: -61px;
        left: 133px;
        width: 320px;

        @media (max-width: $laptop-l) {
          bottom: -89px;
          // left: 106px;
          // width: 200px;
          left: 93px;
          width: 226px;
          height: 245px;
          transform: scale(-1, 1);
        }

        @media (max-width: $laptop) {
          right: -24px;
          bottom: -93px;
          left: auto;
          width: 165px;
          height: 284px;
        }

        @media (max-width: $tablet) {
          right: 3px;
          bottom: -52px;
          width: 144px;
          height: auto;
        }
      }
    }

    &:nth-child(8) {
      & .service-card__img {
        right: 9px;
        bottom: -53px;
        width: 214px;

        @media (max-width: $laptop-l) {
          right: -7px;
          bottom: -73px;
          width: 182px;
        }

        @media (max-width: $laptop-m) {
          right: -26px;
        }

        @media (max-width: $laptop) {
          right: -32px;
          bottom: -52px;
          width: 182px;
          height: 227px;
        }

        @media (max-width: $tablet) {
          right: 13px;
          bottom: -35px;
          width: 104px;
          height: auto;
        }
      }

      @media (min-width: 769px) and (max-width: 850px) {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
		//*/
  }
}
