// Основная кнопка
.btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    padding: 9px;
    background: $btn-primary-default;
    border-radius: $radius;
    // overflow: hidden;
    transition: $tr;

    @media (max-width: $laptop-m) {
        font-size: 12px;
        line-height: 1.5;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-primary-pressed;
    }
}

// Второстепенная кнопка
.btn-second {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: $text-accent;
    text-transform: uppercase;
    padding: 9px;
    background: $btn-second-default;
    border-radius: $radius;
    // overflow: hidden;
    transition: $tr;

    @media (max-width: $laptop-m) {
        font-size: 12px;
        line-height: 1.5;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-second-pressed;
    }
}

.btn-linear {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: $text-accent;
    text-transform: uppercase;
    padding: 5px;
    transition: $tr;

    @media (max-width: $laptop-m) {
        font-size: 12px;
        line-height: 1.5;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            color: $btn-primary-pressed;
        }
    }

    &:active {
        color: $btn-primary-pressed;
    }
}

.btn_disabled {
    color: $text-second-d;
    background: #F8F8F8;
    pointer-events: none;
}

// Ссылки
.link {
    
    &:hover {
        
        @media (min-width: $minHover) {
            color: $text-accent;
        }
    }

    &:active {
        color: $text-accent;
    }
}

// Стрелка в слайдерах
// .slider-arrow {
//     width: 56px;
//     height: 56px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: $accent-primary;
//     border-radius: 50%;

//     &:hover {
        
//         @media (min-width: $minHover) {
//             background: $accent-hover;
//         }
//     }

//     &:active {
//         background: $accent-active;
//     }

//     &.swiper-button-disabled {
//         background: #F8F8F8; 
//         // pointer-events: none;

//         & svg path {
//             fill: $text-second-d;
//         }
//     }

//     & svg {
//         width: 24px;
//         height: 24px;
//     }
// }