.btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 9px;
    border-radius: $radius;
    transition: $tr;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    @media (max-width: $laptop-m) {
        height: 40px;
        font-size: 12px;
        line-height: 1.5;
    }
}

.btn_small {
    height: 32px;
    font-size: 11px;
}

.btn_primary {
    color: #fff;
    background: $btn-primary-default;

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-primary-pressed;
    }
}

.btn_second {
    color: $text-accent;
    background: $btn-second-default;

    &:hover {
        
        @media (min-width: $minHover) {
            box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
        }
    }

    &:active {
        background: $btn-second-pressed;
    }
}

.btn_linear {
    color: $text-accent;
    padding: 0 5px;

    &:hover {
        
        @media (min-width: $minHover) {
            color: $btn-primary-pressed;
        }
    }

    &:active {
        color: $btn-primary-pressed;
    }
}

$m-icon: 30px; // Отступ иконки от текста

.btn_icon {
    display: flex;
    align-items: center;
    padding: 0 20px;

    &::after {
        content: '';
        display: block;
        min-width: 24px;
        width: 24px;
        height: 24px;
        margin-left: $m-icon;
        background: center/contain no-repeat;
    }
    
    &-arrow::after {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.77465 18.7258C9.1396 19.0914 9.72798 19.0914 10.0929 18.7258L16.2821 12.526C16.5726 12.235 16.5726 11.765 16.2821 11.474L10.0929 5.27418C9.72798 4.90861 9.1396 4.90861 8.77465 5.27418C8.4097 5.63975 8.4097 6.22915 8.77465 6.59472L14.1669 12.0037L8.7672 17.4127C8.4097 17.7709 8.4097 18.3677 8.77465 18.7258Z' fill='white'/%3E%3C/svg%3E");
    }
    
    &-info::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.80007 4.8C8.80007 5.24183 8.4419 5.6 8.00007 5.6C7.55824 5.6 7.20007 5.24183 7.20007 4.8C7.20007 4.35817 7.55824 4 8.00007 4C8.4419 4 8.80007 4.35817 8.80007 4.8Z' fill='%23B4B4BF'/%3E%3Cpath d='M7.20007 7.64961C7.20007 7.20778 7.55824 6.84961 8.00007 6.84961C8.4419 6.84961 8.80007 7.20778 8.80007 7.64961V11.1453C8.80007 11.5871 8.4419 11.9453 8.00007 11.9453C7.55824 11.9453 7.20007 11.5871 7.20007 11.1453V7.64961Z' fill='%23B4B4BF'/%3E%3Cpath d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM1.52 8C1.52 11.5788 4.42119 14.48 8 14.48C11.5788 14.48 14.48 11.5788 14.48 8C14.48 4.42119 11.5788 1.52 8 1.52C4.42119 1.52 1.52 4.42119 1.52 8Z' fill='%23B4B4BF'/%3E%3C/svg%3E");
    }
    
    &-edit::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8059 3.75499C14.0659 4.01499 14.0659 4.43499 13.8059 4.69499L12.5859 5.91499L10.0859 3.41499L11.3059 2.19499C11.4305 2.07016 11.5996 2 11.7759 2C11.9523 2 12.1214 2.07016 12.2459 2.19499L13.8059 3.75499ZM1.99927 13.6683V11.6417C1.99927 11.5483 2.0326 11.4683 2.09927 11.4017L9.3726 4.12834L11.8726 6.62834L4.5926 13.9017C4.5326 13.9683 4.44593 14.0017 4.35927 14.0017H2.3326C2.14593 14.0017 1.99927 13.855 1.99927 13.6683Z' fill='%23B4B4BF'/%3E%3C/svg%3E");
    }
    
    &-delete::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88379 5.89453L10.3099 10.4537' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M10.3999 5.89453L5.88365 10.4108' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round'/%3E%3Ccircle cx='8' cy='8' r='7.25' stroke='%23B4B4BF' stroke-width='1.5'/%3E%3C/svg%3E");
    }
    
    &-promote::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3334 4L9.00008 10.3333L5.66675 7L0.666748 12' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.3333 4H15.3333V8' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    
    &-publish-again::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3996 3.84222L7.99966 5.59902' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M10.4002 3.84228L9.2002 1.19922' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M12.7996 7.9998C12.7996 13.5998 7.47799 15.0889 4.79955 13.5425C2.12111 11.9961 1.20341 8.57115 2.7498 5.89271C4.2962 3.21427 7.72111 2.29657 10.3995 3.84297' stroke='%23B4B4BF' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    }
    
    &-delete::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.8' d='M3.44454 3.83236V3.08236H1.94454V3.83236H3.44454ZM14.0551 3.83236V3.08236H12.5551V3.83236H14.0551ZM0.799805 3.08236C0.385591 3.08236 0.0498047 3.41815 0.0498047 3.83236C0.0498047 4.24657 0.385591 4.58236 0.799805 4.58236V3.08236ZM15.1998 4.58236C15.614 4.58236 15.9498 4.24657 15.9498 3.83236C15.9498 3.41815 15.614 3.08236 15.1998 3.08236V4.58236ZM6.47612 7.24289C6.47612 6.82867 6.14033 6.49289 5.72612 6.49289C5.31191 6.49289 4.97612 6.82867 4.97612 7.24289H6.47612ZM4.97612 11.7903C4.97612 12.2045 5.31191 12.5403 5.72612 12.5403C6.14033 12.5403 6.47612 12.2045 6.47612 11.7903H4.97612ZM11.0235 7.24289C11.0235 6.82867 10.6877 6.49289 10.2735 6.49289C9.85927 6.49289 9.52349 6.82867 9.52349 7.24289H11.0235ZM9.52349 11.7903C9.52349 12.2045 9.85927 12.5403 10.2735 12.5403C10.6877 12.5403 11.0235 12.2045 11.0235 11.7903H9.52349ZM12.5551 3.83236V12.2008H14.0551V3.83236H12.5551ZM10.3051 14.4508H5.69454V15.9508H10.3051V14.4508ZM3.44454 12.2008V3.83236H1.94454V12.2008H3.44454ZM0.799805 4.58236H15.1998V3.08236H0.799805V4.58236ZM4.97612 7.24289V11.7903H6.47612V7.24289H4.97612ZM9.52349 7.24289V11.7903H11.0235V7.24289H9.52349ZM8.71559 0.0507812H7.66296V1.55078H8.71559V0.0507812ZM7.66296 0.0507812C5.5512 0.0507812 3.83928 1.7627 3.83928 3.87447H5.33928C5.33928 2.59113 6.37963 1.55078 7.66296 1.55078V0.0507812ZM5.69454 14.4508C4.4519 14.4508 3.44454 13.4434 3.44454 12.2008H1.94454C1.94454 14.2718 3.62347 15.9508 5.69454 15.9508V14.4508ZM12.5393 3.87447C12.5393 1.7627 10.8274 0.0507812 8.71559 0.0507812V1.55078C9.99893 1.55078 11.0393 2.59113 11.0393 3.87447H12.5393ZM12.5551 12.2008C12.5551 13.4434 11.5477 14.4508 10.3051 14.4508V15.9508C12.3761 15.9508 14.0551 14.2718 14.0551 12.2008H12.5551Z' fill='%23B4B4BF'/%3E%3C/svg%3E");
    }
}

.btn_icon-left {
    flex-direction: row-reverse;

    &::after {
        margin: 0 $m-icon 0 0;
    }
}

// Основная кнопка
// .btn {
//     width: 100%;
//     height: 48px;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 22px;
//     color: #fff;
//     text-transform: uppercase;
//     padding: 9px;
//     background: $btn-primary-default;
//     border-radius: $radius;
//     transition: $tr;

//     @media (max-width: $laptop-m) {
//         font-size: 12px;
//         line-height: 1.5;
//     }

//     &:hover {
        
//         @media (min-width: $minHover) {
//             box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
//         }
//     }

//     &:active {
//         background: $btn-primary-pressed;
//     }
// }

// // Второстепенная кнопка
// .btn-second {
//     width: 100%;
//     height: 48px;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 22px;
//     color: $text-accent;
//     text-transform: uppercase;
//     padding: 9px;
//     background: $btn-second-default;
//     border-radius: $radius;
//     // overflow: hidden;
//     transition: $tr;

//     @media (max-width: $laptop-m) {
//         font-size: 12px;
//         line-height: 1.5;
//     }

//     &:hover {
        
//         @media (min-width: $minHover) {
//             box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
//         }
//     }

//     &:active {
//         background: $btn-second-pressed;
//     }
// }

// .btn-icon {

// }

// .btn-linear {
//     width: 100%;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 22px;
//     color: $text-accent;
//     text-transform: uppercase;
//     padding: 5px;
//     transition: $tr;

//     @media (max-width: $laptop-m) {
//         font-size: 12px;
//         line-height: 1.5;
//     }

//     &:hover {
        
//         @media (min-width: $minHover) {
//             color: $btn-primary-pressed;
//         }
//     }

//     &:active {
//         color: $btn-primary-pressed;
//     }
// }

.btn_disabled {
    color: $text-second-d;
    background: #F8F8F8;
    pointer-events: none;
}

// Ссылки
.link {
    
    &:hover {
        
        @media (min-width: $minHover) {
            color: $text-accent;
        }
    }

    &:active {
        color: $text-accent;
    }
}

// Стрелка в слайдерах
// .slider-arrow {
//     width: 56px;
//     height: 56px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: $accent-primary;
//     border-radius: 50%;

//     &:hover {
        
//         @media (min-width: $minHover) {
//             background: $accent-hover;
//         }
//     }

//     &:active {
//         background: $accent-active;
//     }

//     &.swiper-button-disabled {
//         background: #F8F8F8; 
//         // pointer-events: none;

//         & svg path {
//             fill: $text-second-d;
//         }
//     }

//     & svg {
//         width: 24px;
//         height: 24px;
//     }
// }