    // Карточка "Мое объявление"
    .ma-card {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: $radius;
        background: #fff;
        overflow: hidden;
        @media (max-width: $tablet) {
            overflow: initial;
            &:nth-child(even) {
                & .ma-card__settings {
                    left: auto;
                    right: 0;
                }
            }
            &:hover {
                z-index: 1;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            display: block;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            padding: 12px 8px;
            border-radius: 0 10px 0 10px;
            @media (max-width: $tablet) {
                z-index: 1;
            }
        }
        @media (max-width: $tablet) {
            .ma-card__slider::after {
                content: '';
                position: absolute;
                top: -1px;
                right: -1px;
                display: block;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                padding: 12px 8px;
                border-radius: 0 8px 0 10px;
                z-index: 1
            }
        }
        // #Модификаторы
        // Опубликовано
        &.ma-card_published {
            &::after {
                content: 'Опубликовано';
                background-color: #02BC4D;
                @media (max-width: $tablet) {
                    display: none
                }
            }
            // Объявление оплачено
            &.ma-card_paid {
                & .ma-card__label-paid {
                    display: block;
                    @media (max-width: $tablet) {
                        display: none;
                    }
                }
            }
            @media (max-width: $tablet) {
                .ma-card__slider::after {
                    content: '';
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: center/24px 24px no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79506 15.8754L5.32506 12.4054C5.13823 12.2181 4.88458 12.1129 4.62006 12.1129C4.35554 12.1129 4.10189 12.2181 3.91506 12.4054C3.52506 12.7954 3.52506 13.4254 3.91506 13.8154L8.09506 17.9954C8.48506 18.3854 9.11506 18.3854 9.50506 17.9954L20.0851 7.41538C20.4751 7.02538 20.4751 6.39538 20.0851 6.00538C19.8982 5.81812 19.6446 5.71289 19.3801 5.71289C19.1155 5.71289 18.8619 5.81812 18.6751 6.00538L8.79506 15.8754Z' fill='white'/%3E%3C/svg%3E");
                    background-color: #02BC4D;
                }
            }
        }
        // На проверке
        &.ma-card_inspection {
            &::after {
                content: 'На проверке';
                background-color: #F4783C;
                @media (max-width: $tablet) {
                    display: none
                }
            }
            @media (max-width: $tablet) {
                .ma-card__slider::after {
                    content: '';
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: center/22px 22px no-repeat url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4997 20.6673C16.5623 20.6673 20.6663 16.5633 20.6663 11.5007C20.6663 6.43804 16.5623 2.33398 11.4997 2.33398C6.43706 2.33398 2.33301 6.43804 2.33301 11.5007C2.33301 16.5633 6.43706 20.6673 11.4997 20.6673Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5 6V11.5L15.1667 13.3333' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-color: #F4783C;
                }
            }
        }
        // Отклонено
        &.ma-card_rejected {
            &::after {
                content: 'Отклонено';
                background-color: #E21932;
                @media (max-width: $tablet) {
                    display: none
                }
            }
            @media (max-width: $tablet) {
                .ma-card__slider::after {
                    content: '';
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: center/22px 22px no-repeat url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.4996' cy='11.4996' r='9.15' stroke='white' stroke-width='1.5'/%3E%3Crect x='4.90039' y='6.2207' width='1.65' height='17.8131' transform='rotate(-45 4.90039 6.2207)' fill='white'/%3E%3C/svg%3E");
                    background-color: #E21932;
                }
            }
            & .ma-card__slide {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #CC3334;
                    opacity: .3;
                    border-radius: var(--radius) var(--radius) 0 0;
                }
            }
        }
        // Неактивно
        &.ma-card_inactive {
            &::after {
                content: 'Неактивно';
                color: $text-accent;
                background-color: #D1DFFC;
                @media (max-width: $tablet) {
                    display: none
                }
            }
            @media (max-width: $tablet) {
                .ma-card__slider::after {
                    content: '';
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: center/22px 22px no-repeat url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.5' cy='11.5' r='11' fill='%23467EF3'/%3E%3Ccircle cx='11.5004' cy='15.9008' r='1.1' fill='white'/%3E%3Cpath d='M11.5 7.09961V12.0496' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
                    background-color: #D1DFFC;
                }
            }
            & .ma-card__slide {
                opacity: .7;
            }
        }
        // Черновик
        &.ma-card_draft {
            &::after {
                content: 'Черновик';
                color: $text-second-d;
                background-color: #EEF1F9;
                @media (max-width: $tablet) {
                    display: none
                }
            }
            @media (max-width: $tablet) {
                .ma-card__slider::after {
                    content: '';
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: center/22px 22px no-repeat url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_916_17508' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='3' width='17' height='17'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4832 5.66116C19.8407 6.01866 19.8407 6.59616 19.4832 6.95366L17.8057 8.63116L14.3682 5.19366L16.0457 3.51616C16.217 3.34451 16.4495 3.24805 16.6919 3.24805C16.9344 3.24805 17.1669 3.34451 17.3382 3.51616L19.4832 5.66116ZM3.24902 19.292V16.5053C3.24902 16.377 3.29486 16.267 3.38652 16.1753L13.3874 6.17451L16.8249 9.61201L6.81486 19.6128C6.73236 19.7045 6.61319 19.7503 6.49402 19.7503H3.70736C3.45069 19.7503 3.24902 19.5487 3.24902 19.292Z' fill='black'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_916_17508)'%3E%3Crect x='0.5' y='0.5' width='22' height='22' fill='%23B4B4BF'/%3E%3C/g%3E%3C/svg%3E");
                    background-color: #eef1f9;
                }
            }
        }
    }
    
    .ma-card_tire .card-table tr td {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text-second-d;
        @media (max-width: $tablet-s) {
            display: block;
            font-size: 12px;
            line-height: 15px;
            color: $text-primary
        }
    }
    
    .ma-card_tire .ma-card__info {
        margin-top: 24px
    }
    
    // Состояние объявления
    // .ma-card__condition {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     display: block;
    //     font-size: 12px;
    //     font-weight: 700;
    //     color: #fff;
    //     text-transform: uppercase;
    //     padding: 12px 8px;
    //     border-radius: 0 10px;
    // }
    .ma-card__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        // overflow: hidden;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    
    // Слайдер в карточке
    .ma-card__slider {
        position: relative;
        min-width: 250px;
        width: 250px;
        height: 100%;
        overflow: hidden;
        @media (max-width: $tablet) {
            min-width: auto;
            width: 100%;
            max-height: 120px;
            height: 120px;
            border-radius: $radius $radius 0 0;
            .ma-card__slide,
            img {
                border-radius: var(--radius) var(--radius) 0 0;
            }
        }
        @media (max-width: $mobile-l) {
            max-height: 102px;
            height: 102px;
            max-width: 100%;
            min-width: 100%;
            .swiper-wrapper {
                border-radius: var(--radius) var(--radius) 0 0;
            }
        }
    }
    
    .swiper-slide {}
    
    .ma-card__slide {
        & img {
            object-fit: cover;
        }
    }
    
    // Пагинация
    .ma-card__pagination {
        position: absolute;
        z-index: 1;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 24px);
        display: flex;
        gap: 0 4px;
        @media (max-width: $mobile-l) {
            display: none;
        }
        & .swiper-pagination-bullet {
            position: relative;
            display: block;
            width: 33.333%;
            height: 3px;
            background: rgba(255, 255, 255, .8);
            border-radius: 0;
            margin: 0;
            &-active {
                background: $icon-blue-l;
            }
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 500%;
            }
        }
    }
    
    // Значок оплаты
    .ma-card__label-paid {
        display: none;
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 12px;
        width: 32px;
        height: 32px;
    }
    
    // Контентная часть
    .ma-card__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        @media (max-width: $tablet) {
            padding: 0 12px;
            height: auto
        }
        @media (max-width: $mobile-l) {
            padding: 0 8px;
        }
    }
    
    // Шапка контента
    .ma-card__content-header {
        padding-right: 120px;
        @media (max-width: $tablet) {
            padding-right: 0;
        }
    }
    
    .ma-card__title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
        line-height: 20px;
        @media (max-width: $tablet-s) {
            font-size: 14px;
        }
        @media (max-width: $mobile-l) {
            font-size: 11px;
            line-height: 13px;
            margin-top: 8px
        }
    }
    
    .ma-card__price {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        margin-top: 5px;
        line-height: 20px;
        @media (max-width: $tablet-s) {
            font-size: 16px;
        }
        @media (max-width: $mobile-l) {
            font-size: 12px;
            margin-top: 4px;
            line-height: 15px;
        }
    }
    
    // Тело контента
    .ma-card__content-body {
        margin: 12px 0;
        @media (max-width: $mobile-l) {
            margin-bottom: 5px;
            margin-top: 8px
        }
    }
    
    .ma-card__table {
        & tr td {
            font-size: 12px;
        }
        @media (max-width: $tablet) {
            display: initial;
        }
    }
    
    // .ma-card__table {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     margin-top: 12px;
    //     @media (max-width: $tablet) {
    //         display: block;
    //     }
    //     @media (max-width: $mobile-l) {
    //         margin-top: 8px;
    //     }
    // }
    // .ma-card__parameters-block {
    //     &:nth-child(1) {
    //         margin-right: 12px;
    //     }
    //     &:nth-child(2) {
    //         & .ma-card__parameter-title {
    //             width: 22%;
    //         }
    //     }
    // }
    // .ma-card__parameter {
    //     // display: flex;
    //     // align-items: center;
    //     font-size: 12px;
    //     font-weight: 400;
    // }
    // .ma-card__parameter-title {
    //     min-width: fit-content;
    //     width: 30%;
    //     display: inline-block;
    //     color: $text-second-d;
    //     @media (max-width: $tablet-s) {
    //         display: none;
    //     }
    // }
    // .ma-card__parameter-value {
    //     // font-size: 12px;
    //     // margin-left: 20px;
    //     padding-left: 20px;
    //     @media (max-width: $tablet-s) {
    //         padding-left: 0;
    //     }
    // }
    .ma-card__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 50px;
        margin-top: 12px;
        @media (max-width: $tablet) {
            gap: 5px 32px;
        }
        @media (max-width: $mobile-l) {
            gap: 2px 12px;
        }
    }
    
    .ma-card__info-item {
        font-size: 12px;
        font-weight: 400;
        color: $text-second-d;
        line-height: 15px;
        &:not(:last-child) {
            // margin-right: 50px;
        }
        @media (max-width: $mobile-l) {
            font-size: 10px;
            line-height: 12px
        }
    }
    
    .ma-card__info-date {}
    
    .ma-card__info-location {}
    
    // Подвал контента
    .ma-card__content-footer {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid $outline-l;
        padding: 12px 0 10px 0;
        margin: auto 0 0 0;
        button:not(:last-child) {
            margin-right: 24px;
        }
        // @media (max-width: $tablet) {
        //     & > .ma-card__setting-btn {
        //         display: none;
        //     }
        // }
        @media (max-width: $mobile-l) {
            padding: 4px 0;
            margin-bottom: 0px;
            border-top: none;
        }
    }
    
    // Кнопка настройки
    .ma-card__setting-btn {
        width: fit-content;
        height: auto;
        font-size: 11px;
        font-weight: 700;
        color: $text-accent;
        text-transform: none;
        text-align: left;
        padding: 3px 0;
        &:hover {
            color: $btn-primary-pressed
        }
        &:focus {
            color: rgba(70, 126, 243, 0.4);
        }
        &::after {
            min-width: 16px;
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        // &:not(:last-child) {
        //     margin-right: 24px;
        // }
        &.btn_icon-setting {
            display: none;
            @media (max-width: $tablet) {
                position: relative;
                display: flex;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 12px;
                    transform: translateY(-100%);
                }
                &:hover {
                    &+.ma-card__settings {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }
    
    // Плашка с настройками объявления
    .ma-card__settings {
        @media (max-width: $tablet) {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            transform: translate(0, -100%);
            background: #fff;
            border-radius: $radius;
            box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
            // animation: showSettings $tr linear forwards;
            opacity: 0;
            transition: $tr;
            pointer-events: none;
            &:hover {
                opacity: 1;
                pointer-events: all;
            }
            // @keyframes showSettings {
            //     from {
            //         opacity: 0;
            //     }
            //     to {
            //         opacity: 1;
            //     }
            // }
        }
    }
    
    .ma-card__settings-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // gap: 5px 24px;
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 20px 0;
        }
        @media (max-width: $mobile-l) {
            padding: 12px;
        }
    }
    
    // Страница Избранные объявления
    .mine-ad__favorites .ma-card__slider {
        min-width: 200px;
        width: 200px;
        @media (max-width: $tablet) {
            min-width: 100%;
            width: 100%
        }
    }
    
    .mine-ad__favorites .ma-card {
        height: max-content
    }
    
    .mine-ad__favorites .ma-tab__body {
        grid-auto-rows: auto;
    }
    
    .mine-ad__favorites .la-card__like {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 9;
        @media (max-width: $tablet) {
            top: auto;
            bottom: 11px;
            right: 8px;
        }
    }
    
    .mine-ad__favorites .ma-card[data-tab-status=published] {
        .ma-card__label-paid {
            display: block
        }
        .la-card__slider-fixed {
            left: 10px;
            top: 10px;
            display: block
        }
        @media (max-width: $tablet) {
            .la-card__slider-fixed {
                top: 5px;
                left: 5px;
                padding: 0 5px
            }
        }
    }
    
    .mine-ad__favorites .ma-card[data-tab-status=sold] {
        .ma-card__content,
        .swiper-wrapper {
            filter: opacity(0.5);
        }
        .la-card__slider-fixed {
            display: block;
            left: 10px;
            top: 10px;
            background: #CC3334;
            color: #fff;
            opacity: .8;
        }
        @media (max-width: $tablet) {
            .la-card__slider-fixed {
                font-size: 10px;
                padding: 0 5px;
                top: 5px;
                left: 5px;
            }
        }
    }
    
    .mine-ad__favorites .ma-card__content-body {
        margin-bottom: 10px;
    }
    
    .mine-ad__favorites .ma-card {
        @media (max-width: $tablet) {
            .ma-card__info {
                flex-direction: column-reverse;
                align-items: flex-start;
                width: 80%;
            }
            &.ma-card_tire {
                .ma-card__info,
                .ma-card__content-body {
                    margin-top: 8px
                }
            }
        }
    }
    
    .mine-ad__favorites .ma-card__label-paid {
        @media (max-width: $tablet) {
            top: 0;
            right: 0
        }
    }