.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-modal;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;

    &._show {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;

        & .modal__wrap {
            transform: translate(0, 0);
        }
    }
}

.modal__wrap {
    min-height: 100%;
    transform: translate(0, 100vh);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    transition: $tr;
}

.modal__popup {
    position: relative;
    max-width: 540px;
    background: #fff;
    border-radius: $radius;
    padding: 40px 40px 32px 40px;
}

.modal__big-icon {
    width: 177px;
    height: 177px;
    margin: 40px auto 24px auto;
}

.modal__title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.modal__form {
    margin: 32px 0 0 0;
}

.modal__attention {
    font-size: 14px;
    color: $text-second-d;
    line-height: 1.3;
    margin: 14px 0 0 0;
}

.modal__submit {
    margin: 15px 0 0 0;
}

.modal__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background: $text-primary;
        border-radius: 100px;

        &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

// Смена языка
.modal-lang {

}

.modal-right__wrap {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    transform: translate(100%, 0);
}

.modal-right__popup {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
}

.modal-lang__header {
    display: flex;
    align-items: center;
    background: $bg-second-l;
    padding: 18px;
}

.modal-lang__arrow {
    position: initial;
    width: 30px;
    height: 30px;

    &:hover {
        
        @media (min-width: $minHover) {
            
            & svg path {
                fill: $text-primary
            }
        }
    }

    & svg path {
        transition: $tr;
    }
}

.modal-lang__title {
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
}

.modal-lang__body {
    background: #fff;
    padding: 12px 0;
}

.modal-lang__list {

}

.modal-lang__item {

}

.modal-lang__link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 10px 15px 20px;
    transition: $tr;

    &._active {
        color: $text-accent;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            color: $text-accent;
            background: #EEF1F9;
        }
    }
}

// Регионы и страны
.modal-regions__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $bg-second-l;
    padding: 18px;
}

.modal-regions__title {
    font-size: 16px;
    font-weight: 600;
}

.modal-regions__reset {
    display: none;
    font-size: 14;
    font-weight: 600;
    color: $text-accent;

    &._show {
        display: block;
    }
}

.modal-regions__body {
    background: #fff;
}

.modal-regions__search {
    padding: 20px 16px;
}

// Выбран один город
.modal-regions__one-country {

    &._regions {

        & .modal-regions__more-regions-title {
            display: block;
        }

        & .modal-regions__more-country-title {
            display: none;
        }

        & .modal-regions__country-arrow {
            transform: rotate(-90deg);
        }
    }
}

.modal-regions__country {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 284px;
        width: 100%;
        height: 1px;
        background: $outline-l;
    }
}

.modal-regions__country-wrap {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 18px;
}

.modal-regions__country-text {
    font-size: 16px;
    font-weight: 600;
    color: $text-accent;
}

.modal-regions__country-arrow {
    width: 24px;
    height: 24px;
    transition: $tr;
}

.modal-regions__more-country-title,
.modal-regions__more-regions-title {
    font-size: 14px;
    font-weight: 600;
    padding: 20px 18px 10px;
}

.modal-regions__more-country-title {

}

.modal-regions__more-regions-title {
    display: none;
}

// Чекбоксы со странами
.modal-regions__countries,
.modal-regions__regions {
    margin: 0 0 30px 0;
}

.modal-regions__apply-block {
    position: sticky;
    bottom: 20px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-regions__apply {
    max-width: 292px;
    width: 100%;
    box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
    // filter: drop-shadow(0px 5px 20px rgba(70, 126, 243, 0.5));
}

// Аккордеон
.modal-regions__acc-body {
    max-height: 0;
    overflow: hidden;
    transition: $tr;

    & .regions-checkbox {
        margin: 0 0 0 18px;
    }
}

.regions-checkbox__arrow {
    transition: $tr;

    &._show {
        transform: rotate(180deg);
    }
}