.na-content__wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 1441px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        
        &::before {
            content: '';
            max-width: 306px;
            width: 100%;
        }
    }

    @media (max-width: 1700px) {
        justify-content: space-between;
    }
}

// Контентная часть
.na-content {
    max-width: 876px;
    width: calc(100% - 306px);
    margin-right: 24px; 

    @media (min-width: $laptop-l) {
        min-width: 876px;
        margin: 0 0 0 24px;
    }

    @media (max-width: $laptop) {
        width: calc(100% - 250px);
    }

    @media (max-width: $tablet-l) {
        width: calc(100% - 200px);
    }

    @media (max-width: $tablet) {
        width: 100%;
        margin: 0;
    }
}

// Отступы белых блоков
.na-margin {
    margin-bottom: 40px;

    @media (max-width: $tablet) {
        margin-bottom: 30px;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 20px;
    }

    // @media (max-width: $laptop-m) {
    //     margin-bottom: 100px;
    // }

    // @media (max-width: $laptop) {
    //     margin-bottom: 80px;
    // }

    // @media (max-width: $mobile-l) {
    //     margin-bottom: 50px;
    // }
}

// Белые блоки с выбором пунктов для создания объявления
.na-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: $radius;
    padding: 20px;

    @media (max-width: $mobile-l) {
        min-height: 80px;
        padding: 10px;
    }
}

.na-block__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: $mobile-l) {
        margin-bottom: 10px;
    }

    &_column {
        flex-direction: column;
        align-items: flex-start;
    }
}

// Разделяющая линия
.na-block__separator {
    width: 100%;
    height: 1px;
    background: $outline-l;
    margin: 10px 0 30px;
}

// Заголовок в блоке с выбором модели
.na-block__header-info {
    display: flex;
    align-items: center;
}

.na-block__brand-icon {
    width: 60px;
    height: 60px;
    display: flex;
}

.na-block__brand-title {
}

.na-block__header-info-list {
    display: flex;
    align-items: center;
    margin-left: 20px;

    @media (max-width: $mobile-l) {
        margin-left: 10px;
    }
}

.na-block__header-info-item {
    position: relative;
    
    &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 22px;
            background: $outline-l;
        }
    }
}

.na-block__body {

    & > .na-row {

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: $mobile-l) {
                // margin-bottom: 20px;
            }
        }
    }
}

// Закрыть блок
.na-block__close {
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 0 0 auto;
}

// Поиск в блоках
.na-block__search {
    margin-bottom: 20px;
}

// Заголовок на странице создания объявления. Используется на всей странице
.na-title {
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $tablet) {
        font-size: 16px;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }

    @media (max-width: $mobile-m) {
        font-size: 12px;
    }
}

// Подзаголовок
.na-subtitle {
    font-size: 16px;
    font-weight: 600;

    @media (max-width: $tablet) {
        font-size: 15px;
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }

    @media (max-width: $mobile) {
        font-size: 12px;
    }
}

// Описание
.na-text {
    font-size: 14px;
    font-weight: 400;
    color: $text-second-d;
    margin-top: 10px;

    @media (max-width: $mobile-l) {
        font-size: 10px;
        margin-top: 5px;
    }
}

// Список
.na-list {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 24px;
    // margin-top: 20px;

    // & > * {
    //     width: 22%;
    // }

    @media (max-width: $mobile-m) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Столбики списка подстраиваются под элемент с самой большой шириной
.na-list_max-content {
    grid-template-columns: repeat(4, max-content);
}

// Показать больше предназначенный для списка
.na-more {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-top: 5px;
}

.na-more__title {
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    color: $text-accent;
    text-transform: uppercase;
}

.na-more__icon {
    width: 16px;
    height: 16px;
    display: flex;
    margin-left: 8px; 
}

// Блок с названием и инпутом, селектом или radio-элементами
.na-row {
    display: flex;
    align-items: center;

    @media (max-width: $laptop){
        justify-content: space-between;
    }

    @media (max-width: $tablet-s) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.na-row__title {
    max-width: 286px;
    width: 100%;
    margin-right: 24px;

    @media (max-width: $laptop){
        max-width: 259px;
    }

    @media (max-width: $tablet) {
        max-width: none;
        width: 70%;
    }

    @media (max-width: $tablet-s) {
        margin: 0 0 10px 0;
    }
}

.na-row__block {
    width: 100%;

    & .select,
    & .select-city,
    & .textfield {
        max-width: 306px;

        @media (max-width: $laptop){
            margin-right: 0;
            max-width: 367px;
        }
       

        @media (max-width: $tablet-s) {
            max-width: none;
        }
    }
}

.na-row__block-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 48px;

    @media (max-width: $mobile-l) {
        row-gap: 20px;
    }

    & > * {
        
        &:not(:last-child) {
            // margin: 4px 48px 4px 0;
            // margin-right: 48px;
        }
    }
}

// Кнопка "Продолжить"
.na-submit {
    width: fit-content;
    margin: 0 0 0 auto;
}

// Загрузка картинок
.na-dropzone {
    position: relative;
    min-height: 98px;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: ;
    // align-items: center;
    // justify-content: center;
    gap: 20px;
    border: 1px dashed $icon-blue-l;
    border-radius: $radius;
    transition: $tr;
    background-color: #F6F8FD;

    & .dz-button {
        display: none;
    }

    // Перемещение файлов на область загрузки
    &.dz-drag-hover {
        background-color: #F6F8FD;

        & .na-dropzone__add-more {
            border-style: solid;
            background-color: #F6F8FD;

            & .na-dropzone__add-more-icon {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        &:not(.dz-started.dz-drag-hover) {

            & .na-dropzone__icon {
                transform: scale(1.1);
            }
        }
    }

    // Выбраны картинки
    &.dz-started {
        border: none;
        padding: 0;
        background-color: transparent;

        & .na-dropzone__block {
            display: none;
        }

        & .na-dropzone__add-more {
            display: inline-block;
        }
    }

    // Удалить картинку
    & .dz-remove {
        position: absolute;
        z-index: 2;
        top: -10px;
        right: -9px;
        width: 20px;
        height: 20px;
        // cursor: pointer !important;
    }
}

.na-dropzone__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.na-dropzone__icon {
    // min-width: 30px;
    transition: $tr;
    
    & svg {
        width: 30px;
        height: 30px;
        
    }
}

.na-dropzone__content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.na-dropzone__title {
    font-size: 13px;
    font-weight: 500;

    @media (max-width: $mobile-l) {
        display: none;
        font-size: 12px;
    }

    & span {
        color: $text-accent;
    }

    &-mobile {
        display: none;

        @media (max-width: $mobile-l) {
            display: inline;
        }
    }
}

.na-dropzone__formats {
    font-size: 14px;
    font-weight: 400;
    color: $text-second-d;
    margin-top: 5px;

    @media (max-width: $mobile-l) {
        font-size: 12px;
        margin: 0;
    }
}

// Добавить больше
.na-dropzone__add-more {
    display: none;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px dashed $icon-blue-l;
    border-radius: $radius;
    pointer-events: none;
    cursor: pointer;

    @media (max-width: $mobile-l) {
        width: 46%;
        height: auto;

        &::after {
            content: '';
            padding-top: 100%;
            display: block;
        }
    }
}

.na-dropzone__add-more-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    transition: $tr;
}

