// Сайдбар на странице "Список объявлений"
.ad-sidebar {
    // position: sticky;
    // top: 16px;
    // right: 0;
    max-width: 380px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: $radius;
    padding: 20px;
}

.ad-sidebar__wrap {

}

// Шапка сайдбара
.ad-sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ad-sidebar__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.ad-sidebar__chevron {
    width: 24px;
    height: 24px;
}

// Тело сайдбара
.ad-sidebar__body {
    // margin-top: 20px; 
    
    & .list-ad__form-section {
        margin-bottom: 10px;
    }
}

.ad-sidebar__owner-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 20px 0;
}

// .list-ad__form-section {
//     margin-bottom: 10px;
// }

// Заголовки у секций сайдбара
.ad-sidebar__subtitle {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.ad-sidebar__show-btn {
    margin-top: 10px;
}