.ad-filter {
    background: #fff;
    border-radius: $radius;
    padding: 20px;
    @media (max-width: $tablet-s) {
        &:not(.ad-filter__section-tuning) {
            display: none;
            &._active-filter {
                display: block
            }
        }
        padding: 10px;
    }
}

.ad-filter .ad-content__location {
    display: none;
    margin-bottom: 20px;
    .location {
        margin-left: 0
    }
    .location__header-wrap {
        padding: 0;
        height: 20px
    }
    .location__body {
        left: 0;
        width: 100%
    }
    @media (max-width: $tablet-l) {
        display: block
    }
}

.ad-content__location-header {
    font-size: 12px;
    font-weight: 500;
    color: $text-primary;
    line-height: 15px;
    margin-bottom: 10px;
}

.ad-filter__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    &._active-tab {
        display: grid;
    }
    @media (max-width: $tablet-l) {
        gap: 10px;
    }
    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $tablet-s) {
        grid-template-columns: 1fr
    }
}

.ad-filter__box .ad-filter__body {
    display: none;
    &._active-tab {
        display: grid
    }
}

.ad-filter__reset-btn {
    font-size: 12px;
    padding: 0;
    margin-left: 40px;
    &::after {
        min-width: 16px;
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }
    @media (max-width: $tablet-l) {
        margin-left: 20px;
    }
}

.ad-filter__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    @media (max-width: $tablet-s) {
        margin-top: 0
    }
}

.ad-filter__btn-list {
    display: flex;
    align-items: center;
}

.ad-filter__show-btn {
    min-width: 295px;
    padding: 0 16px;
    @media (max-width: $tablet-l) {
        min-width: auto;
        white-space: nowrap;
    }
}

.ad-filter__show-btn-pc {
    @media (max-width: $tablet-l) {
        display: none;
    }
}

.ad-filter__show-btn-mob {
    display: none;
    @media (max-width: $tablet-l) {
        display: block;
    }
    @media (max-width: $tablet-s) {
        padding: 0 13px
    }
}

.ad-filter__option-list {
    display: flex;
    align-items: center;
}

.ad-filter__option-select {
    &._open {
        & .select-input__chevron {
            transform: none;
        }
    }
    & .select-input {
        border: none;
        padding: 0;
    }
    &._valid .select-input__title {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $text-accent;
    }
    & .select-dropdown__item {
        white-space: nowrap;
        &._selected {
            color: $text-accent;
        }
        &::before {
            display: none;
        }
    }
    & .select-input__chevron {
        position: initial;
        top: auto;
        right: auto;
        transform: none;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    &_mob {
        display: none;
        @media (max-width: $tablet) {
            width: fit-content;
            display: block;
        }
    }
    &_pc {
        @media (max-width: $tablet) {
            display: none;
        }
    }
    @media (max-width: $tablet-s) {
        & .select-input {
            height: 20px;
            margin-bottom: 20px;
        }
    }
}

.ad-filter__grid-list {
    margin-left: 40px;
    display: flex;
    @media (max-width: $tablet-l) {
        margin-left: 20px;
    }
    @media (max-width: $tablet-s) {
        &:not(.list-ad__filter-mob-list) {
            display: none
        }
    }
}

.ad-filter__grid-btn {
    width: 24px;
    height: 24px;
    @media (min-width: $minHover) {
        &:hover {
            & svg {
                stroke: $icon-blue-l;
            }
        }
    }
    &._active {
        & svg {
            stroke: $icon-blue-l;
        }
    }
    & svg {
        fill: none;
        stroke: $icon-second;
        transition: $tr;
    }
}

.ad-filter__grid-btn-box {
    margin-right: 10px
}

.ad-filter__option-list {
    .select-dropdown {
        width: 209px
    }
}

.na-row__block.select-dropdown {
    padding: 25px 30px 30px 20px;
    .na-row-color__list {
        margin-top: 0
    }
    input {
        pointer-events: auto;
    }
    .color-radio label::before {
        mix-blend-mode: color-dodge;
    }
}

.select-dropdown__colors.select-dropdown {
    padding: 25px
}

.ad-filter__body .list-ad__form-section-checkbox ._active_drop {
    font-weight: 500;
    font-size: 14px;
    color: $text-primary
}

.list-ad__form-section .textfield input {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text-primary
}