.modal {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $bg-modal;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;
    &._show {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
        & .modal__wrap {
            transform: translate(0, 0);
        }
    }
}

// Белый фон у модального окна
.modal-bg_light {
    background: #fff;
    transition: 0s;
}

.modal__wrap {
    min-height: 100%;
    transform: translate(0, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    transition: $tr;
}

.modal__popup {
    position: relative;
    max-width: 540px;
    background: #fff;
    border-radius: $radius;
    padding: 40px 40px 32px 40px;
}

.modal__big-icon {
    width: 177px;
    height: 177px;
    margin: 40px auto 24px auto;
}

.modal__title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.modal__form {
    margin: 32px 0 0 0;
}

.modal__attention {
    font-size: 14px;
    color: $text-second-d;
    line-height: 1.3;
    margin: 14px 0 0 0;
}

.modal__submit {
    margin: 15px 0 0 0;
}

.modal__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background: $text-primary;
        border-radius: 100px;
        &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

// Модалка прижата к правой стороне
.modal-right__wrap {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    transform: translate(100%, 0);
}

.modal-right__popup {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
    @media (max-width: $mobile-l) {
        max-width: none;
    }
}

.modal-publication {
    .modal__popup {
        padding: 30px;
        width: 370px;
    }
    .modal-auth__body {
        display: flex;
        button {
            height: 40px
        }
    }
}

.modal-publication__picture {
    width: 140px;
    text-align: center;
    margin: 0 auto 30px auto;
    display: flex;
}

.modal-publication__title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.modal-publication__yes {
    margin-right: 10px;
    background: $btn-primary-default;
    color: #fff
}


.modal-feedback .textfield textarea {
    min-height: 150px;
}