.section {
    // margin: 60px 0;

    // @media (max-width: $laptop-m) {
    //     margin: 50px 0;
    // }

    // @media (max-width: $laptop) {
    //     margin: 40px 0;
    // }

    // @media (max-width: $mobile-l) {
    //     margin: 25px 0;
    // } 

    margin-bottom: 120px;

    @media (max-width: $laptop-m) {
        margin-bottom: 100px;
    }

    @media (max-width: $laptop) {
        margin-bottom: 80px;
    }

    @media (max-width: $mobile-l) {
        margin-bottom: 50px;
    }
}

.section_na {
    
}

.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;

    @media (max-width: $laptop) {
        margin: 0 0 20px 0;
    }

    @media (max-width: $laptop-m) {
        margin: 0 0 30px 0;
    }

    @media (max-width: $tablet) {
        margin: 0 0 20px 0;
    }
}

.section__header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.section-title {
    font-family: $ffHeader;
    font-size: 24px;
    font-weight: 400;

    @media (max-width: $tablet) {
        font-size: 18px;
    }

    @media (max-width: $mobile-l) {
        font-size: 16px;
    }

    @media (max-width: $mobile) {
        font-size: 14px;
    }
}

.section-subtitle {
    font-size: 18px;
    font-weight: 600;

    @media (max-width: $tablet) {
        font-size: 16px;
    }

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }
}

.section-arrow {
    display: none;
    width: 24px;
    height: 24px;

    @media (max-width: $tablet) {
        display: block;
    }
}

.section-slider-arrows {
    // position: absolute;
    // top: 50%;
    // left: 0;
    // width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
        display: none;
    }
}

.section-slider-arrow {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    
    &:last-child {
        margin: 0 0 0 10px;
    }
    
    & img {
        user-select: none;
    }

    // position: absolute;
    // z-index: 1;
    // top: 50%;
    // width: 48px;
    // height: 48px;
    // border-radius: 50%;
    // box-shadow: 0 0 10px rgba(0,0,0,.2);
    // opacity: 0;
    // pointer-events: none;

    // @media (max-width: $tablet-l) {
    //     opacity: 1;
    //     pointer-events: all;
    // }

    // @media (max-width: $tablet-s) {
    //     opacity: 0;
    //     pointer-events: none;
    // }
    
    // &_prev {
    //     transform: translate(-50%, -50%);
    //     left: 0;
    // }

    // &_next {
    //     transform: translate(50%, -50%);
    //     right: 0;
    // }

    // &.swiper-button-disabled {
    //     opacity: 1;
    //     pointer-events: all;
    // }
}