.sub-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    width: auto;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $tr;

    &:hover {
        
        @media (min-width: $minHover) {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.sub-menu__wrap {
    padding: 15px 0 20px 0;
}

.sub-menu__list {

}

.sub-menu__item {

    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}

.sub-menu__link {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 25px;

    &:hover {
        
        @media (min-width: $minHover) {

            & .sub-menu__icon {

                &_fill {

                    & svg path {
                        fill: $text-accent;
                    }
                }

                &_stroke {

                    & svg path {
                        stroke: $text-accent;
                    }
                }
            }
            
            & .sub-menu__text {
                color: $text-accent;
            }
        }
    }
}

.sub-menu__icon {
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 20px 0 0;

    & svg path {
        transition: $tr;
    }
}

.sub-menu__text {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    transition: $tr;
}

.sub-menu__separator {
    width: 100%;
    height: 1px;
    background: $outline-l;
    margin: 20px 0;
}