// Таб на странице "Мои объявления"
.ma-tab {

}

// Шапка с кнопками
.ma-tab__header {
}

.ma-tab__header-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 48px;

    @media (max-width: $tablet) {
        display: none;
    }
}

// Кнопки
.ma-tab__filter-btn {
    display: none;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    padding: 0;

    @media (max-width: $tablet) {
        display: flex;
    }

    &::after {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.ma-tab__button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $text-second-l;

    // &:not(:last-child) {
    //     margin-right: 48px;
    // }

    &._active {
        color: $text-primary;
    }
}

.ma-tab__button-title {
}

.ma-tab__button-quantity {
    margin-left: 7px;
}

// Контейнер с карточками
.ma-tab__body {
    position: relative;
    min-height: 190px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(185px, max-content);
    gap: 24px;
    margin-top: 20px;

    @media (max-width: $laptop-l) {
        grid-template-columns: minmax(min-content, 966px);
    }

    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    @media (max-width: $mobile-l) {
        gap: 10px;
    }

    & .ma-card {
        display: none;

        &._show {
            display: block;
            animation: showCard .3s ease-in-out forwards;

            @keyframes showCard {
                from {
                    // transform: scale(.9);
                    opacity: 0;
                }
                to {
                    // transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}

.ma-tab__preload {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: $tr;

    &._show {
        opacity: 1;
    }
}

.ma-tab__preload-icon {
    width: 24px;
    height: 24px;
    animation: spinning 1.5s linear infinite;
}