.na-brand__list {
    
    & > * {
        width: 20%;

        @media (max-width: $tablet-s) {
            width: auto
        }
    }
}

.na-brand__item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.na-brand__item-icon {
    
    & img {
        width: 30px;
        height: 30px;
    }
}

.na-brand__item-title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}