.footer {
    margin: auto 0 64px 0;
}

.footer__wrap {

}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 0;
    }
}

.footer-nav__list {
    display: flex;
    align-items: center;
}

.footer-nav__item {
    
    &:not(:last-child) {
        margin-right: 50px;

        @media (max-width: $laptop) {
            margin-right: 20px;
        }
    }
}

.footer-nav__link {
    display: block;
    padding: 8px 0;
    white-space: nowrap;
}

// Изменение языка
.footer__lang {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.footer__lang-text {

}

.change-lang {
    margin-left: 25px;
}

.change-lang__header {
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $outline-d;
    border-radius: $radius;
    transition: $tr;

    &:hover {
        
        @media (min-width: $minHover) {
            color: $text-accent;
            background: #fff;
            border-color: #fff;
        }
    }
}

.change-lang__title {
    display: inline-block;
    padding: 8px;
}

.change-lang__body {

}

.change-lang__list {

}

// Нижняя часть
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $outline-d;
    padding-top: 30px; 
    margin-top: 30px;
}

.footer__content {
    max-width: 1110px;
    width: 100%;
}

.logo_footer {

}

.footer__descr {
    line-height: 24px;
    margin-top: 25px;
}

.footer__more {
    display: flex;
    align-items: center;
    margin-top: 25px;

    @media (max-width: $laptop) {
        flex-direction: column;
        align-items: flex-start;
    }
}

// Социальные сети
.footer__social-list {
    display: flex;
    align-items: center;
}

.footer__social-item {

    &:not(:last-child) {
        margin: 0 15px 0 0;
    }
}

.footer__social-link {
    display: block;
    width: 30px;
    height: 30px;
}

.footer__more-rules {
    display: flex;
    align-items: center;
    margin-left: 35px;

    @media (max-width: $laptop) {
        margin: 25px 0 0 0;
    }
}

.footer__copyright {
    font-size: 12px;
    font-weight: 500;
}

.footer__user-agree {
    font-size: 12px;
    font-weight: 500;
    margin-left: 50px;
}

// Блок скачать приложение
.footer-app {
    max-width: 480px;
    width: 100%;
    border-radius: $radius;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
    margin-left: 16px;

    @media (max-width: $laptop-l) {
        max-width: 420px;
    }

    @media (max-width: $laptop-m) {
        max-width: 360px;
    }

    @media (max-width: $laptop) {
        max-width: 300px;
    }
}

.footer-app__header {
    color: #fff;
    background: #383838;
    padding: 24px 25px;
}

.footer-app__title {
    font-family: $ffHeader;
    font-size: 16px;
    text-transform: uppercase;

    @media (max-width: $laptop) {
        font-size: 14px;
    }
}

.footer-app__text {
    display: inline-block;
    margin: 10px 0 0 0;
}

.footer-app__body {
    display: flex;
    align-items: center;
    padding: 13px 25px 18px;

    @media (max-width: $laptop) {
        padding: 20px;
    }
}

// Скачать приложение
.download-app {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 25px;

    @media (max-width: $laptop-m) {
        padding: 5px 0;
    }

    &:not(:last-child) {
        margin-right: 15px;

        @media (max-width: $laptop-m) {
            margin-right: 30px;
        }

        @media (max-width: $laptop) {
            margin-right: 22px;
        }
    }
}

.download-app-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.download-app__content {
    margin-left: 15px;

    @media (max-width: $laptop) {
        margin-left: 10px;
    }
}

.download-app__label {
    font-size: 9px;
}

.download-app__title {
    font-size: 16px;

    @media (max-width: $laptop) {
        font-size: 14px;
    }
}