.header {
    position: relative;
    z-index: 2;
}

.header__wrap {
    background: #fff;

}

// Верхняя часть шапки
.header__top {
    padding: 8px 0;

    @media (max-width: $laptop) {
        padding: 10px 0;
    }
}

.header__top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-left { // Левая часть
    display: flex;
    align-items: center;
    margin: 0 12px 0 0;

    @media (max-width: $laptop) {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

// Бургер
.burger {
    position: relative;
    width: 30px;
    height: 30px;

    &._close {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg); 
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 3px;
        background: $icon-primary-l;
        border-radius: 20px;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 10px)); 
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 10px));
        }
    }
}

// Логотип
.logo {
    width: 150px;
    height: 24px;
    display: flex;
}

.logo_header { // Логотип в шапке
    margin: 0 0 0 30px;

    @media (max-width: $laptop) {
        margin: 0;
    }
}

.logo_footer { // Логотип в подвале

}

.header__top-right { // Правая часть
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $laptop) {
        display: none;
    }
}

// Поиск
.search-area {
    position: relative;
    width: 100%;
}

.search-area_header {
    max-width: 450px;

    @media (max-width: $laptop-l) {
        max-width: 330px;
    }

    @media (max-width: 1120px) {
        max-width: 250px;
    }
}

.search-area__input {
    width: 100%;
    height: 100%;
    border: 1px solid $input-placeholder;
    border-radius: $radius;
    padding: 10px 10px 10px 40px;
    transition: $tr;

    &:focus {
        border: 1px solid $input-focus;
    }
}

.search-area__label {
    display: none;
}

.search-area__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    pointer-events: none;
}

.search-area__clear {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    transition: $tr;
    opacity: 0;
    visibility: hidden;

    &._show {
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            
            & svg path {

                &:nth-child(1) {
                    fill: $icon-primary-l;
                }
            }
        }
    }

    & svg path {
        transition: $tr;
    }
}

// Кнопка "Продать"
.header__sell {
    max-width: 180px;
    margin: 0 0 0 20px;

    @media (max-width: $laptop-m) {
        max-width: 130px;
    }
}

// Опции пользователя
.user__options {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.user-option {
    display: flex;
    flex-direction: column;
    align-items: center;

    &._active {

        & .user-option__icon {

            & svg path {
                stroke: $accent-primary;

                &:nth-child(1) {
                    fill: $accent-primary;
                }
            }
        }
    }

    &:hover {
        
        @media (min-width: $minHover) {

            & .user-option__icon {

                & svg path {
                    stroke: $accent-primary;
                }
            }
            
            & .user-option__title {
                color: $text-second-l;
            }
        }
    }

    &:not(:last-child) {
        margin: 0 20px 0 0; 
    }
}

.user-option__icon {
    height: 30px;
    display: flex;

    & svg path {
        transition: $tr;
    }
}

.user-option__title {
    font-size: 10px;
    font-weight: 600;
    color: $text-second-d;
    margin: 2px 0 0 0;
    transition: $tr;
}

// Меню пользователя
.user-menu {
    padding: 0 6px 0 10px;
    margin: 0 0 0 20px;

    @media (max-width: $laptop-l) {
        // padding: 0;
    }
}

.user-menu__header {
    display: flex;
    align-items: center;
    padding: 8px 6px 8px 10px;
    transition: $tr;

    &:hover {
        
        @media (min-width: $minHover) {
            background: $bg-second-l;
        }
    }
}

.user-menu__name {
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin: 0 12px 0 0;

    @media (max-width: $laptop-m) {
        display: none;
    }
}

.user-menu__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

    & img {
        object-fit: cover;
    }
}

.user-menu__header-arrow {
    width: 24px;
    height: 24px;
    margin: 0 0 0 2px;
}

// ------------------------
// Нижняя часть
.header__bottom {
    border-top: 1px solid $bg-second-l;

    @media (max-width: $laptop) {
        display: none;
    }
}

.header__bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 0;
    }
}

.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__item {

    &:not(:last-child) {
        margin-right: 40px;

        @media (max-width: $laptop-l) {
            margin-right: 34px;
        }

        @media (max-width: $laptop-m) {
            margin-right: 28px;
        }

        @media (max-width: $laptop) {
            margin-right: 20px;
        }
    }
}

.header-nav__link {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 16px 0;
}

// Местоположение
.location {
    background: #fff;
    margin-left: 28px;
    transition: $tr;

    &:hover {
        
        @media (min-width: $minHover) {
            background: #EEF1F9;
        }
    }

    &_several-cities { // Если несколько городов. Дистанция скроется, кол-во городов появится
    
        & .location__distance {
            display: none;
        }
    
        & .location__quantity {
            display: block;
        }
    }
}


.location__wrap {
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

.locaiton__icon {
    width: 24px;
    height: 24px;
    display: flex;
}

.location__city,
.location__distance {
    font-size: 12px;
    font-weight: 700;
    color: $text-accent;
    letter-spacing: .02em;
    margin-left: 10px;
    white-space: nowrap;
}

.location__city {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.location__distance {
    
}

.location__quantity {
    display: none; 
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    color: $text-accent;
    background: $btn-second-default;
    border-radius: 50%;
    padding: 0 4px;
    margin-left: 10px;
}