.header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    position: relative;
    z-index: 2;

    &._auth {

        & .header__sign-in {
            display: none;
        }

        & .user-menu {
            display: block;
        }

        & .header__top-content {
            flex-direction: row;
        }
    }
}

.header__wrap {
    background: #fff;

}

// Верхняя часть шапки
.header__top {
    // padding: 8px 0;

    @media (max-width: $tablet-l) {
        padding: 10px 0;
    }
}

.header__top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-left { // Левая часть
    display: flex;
    align-items: center;
    margin: 0 12px 0 0;

    @media (max-width: $tablet-l) {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
    }
}

// Бургер
.burger {
    position: relative;
    width: 30px;
    height: 30px;

    @media (max-width: $tablet-l) {
        width: 25px;
        height: 25px;
    }

    &._close {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg); 
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 3px;
        background: $icon-primary-l;
        border-radius: 20px;
        transition: $tr;

        @media (max-width: $tablet-l) {
            height: 2.5px;
        }

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 10px)); 

            @media (max-width: $tablet-l) {
                transform: translate(-50%, calc(-50% - 7.5px)); 
            }
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 10px));

            @media (max-width: $tablet-l) {
                transform: translate(-50%, calc(-50% + 7.5px)); 
            }
        }
    }
}

// Логотип
.logo {
    width: 150px;
    height: 25px;
    display: flex;
}

.logo_header { // Логотип в шапке
    margin: 0 0 0 30px;

    @media (max-width: $laptop) {
        margin: 0 0 0 10px;
    }

    @media (max-width: $tablet-l) {
        margin: 0;
    }
}

.logo_footer { // Логотип в подвале

}

.header__top-right { // Правая часть
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $tablet-l) {
        display: none;
    }
}

// Поиск
.search-area {
    position: relative;
    width: 100%;
}

.search-area_header {
    max-width: 450px;

    @media (max-width: $laptop-l) {
        max-width: 330px;
    }

    @media (max-width: 1120px) {
        max-width: 250px;
    }
}

.search-area__input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: 1px solid $input-placeholder;
    border-radius: $radius;
    padding: 10px 10px 10px 40px;
    transition: $tr;

    &:focus {
        border: 1px solid $input-focus;

        & ~ .search-area__clear._show {
            // opacity: 1;
            // pointer-events: all;
            // cursor: pointer;

            & svg {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // &:focus {

    //     & + .search-area__label {
    //         font-size: 10px;
    //         color: $text-second-d;
    //         transform: translate(0, calc(-50% - 9px));
    //         // display: none;
    //     }
    // }

    // &:not(:placeholder-shown).search-area__input:not(:focus) {
    //     // border: 1px solid $accent-primary;

    //     & + .search-area__label {
    //         font-size: 10px;
    //         color: $text-second-d;
    //         transform: translate(0, calc(-50% - 9px)); 
    //         // display: none;
    //     }
    // }
}

.search-area__label {
    // display: none;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    color: $input-placeholder;
    white-space: nowrap;
    transition: $tr;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    
    &._change-label {
        display: none;
    }
}

.search-area__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    // pointer-events: none;
}

.search-area__clear {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    background: #fff;
    border-radius: 50%;
    // cursor: text;
    // pointer-events: none;
    // opacity: 0;
    
    & svg {
        transition: $tr;
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        
        @media (min-width: $minHover) {
            
            & svg path {

                &:nth-child(1) {
                    fill: $icon-primary-l;
                }
            }
        }
    }

    & svg path {
        transition: $tr;
    }
}

.header__top-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header__top-buttons {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.header__sign-in {
    width: 180px;
    margin: 0 20px 0 0 ;

    @media (max-width: $laptop-m) {
        width: 130px;
        margin: 0 10px 0 0;
    }

    @media (max-width: $laptop) {
        width: 100px;
    }
}

// Кнопка "Продать"
.header__sell {
    width: 180px;

    @media (max-width: $laptop-m) {
        width: 130px;
    }

    @media (max-width: $laptop) {
        width: 100px;
    }
}

// Опции пользователя
.user__options {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.user-option {
    position: relative;

    &._active {

        & .user-option__icon {

            & svg path {
                stroke: $accent-primary;

                &:nth-child(1) {
                    fill: $accent-primary;
                }
            }
        }
    }

    &:hover {
        
        @media (min-width: $minHover) {

            & .user-option__icon {

                & svg path {
                    stroke: $accent-primary;
                }
            }
            
            & .user-option__title {
                color: $text-second-l;
            }

            & .user-option__body {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    &:not(:last-child) {
        margin: 0 20px 0 0; 
    }
}

.user-option__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-option__icon {
    height: 28px;
    display: flex;

    & svg path {
        transition: $tr;
    }
}

.user-option__title {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    color: $text-second-d;
    text-align: center;
    margin: 2px 0 0 0;
    transition: $tr;
}

.user-option__body {
    width: auto;
}

// Меню пользователя
.user-menu {
    display: none;
    position: relative;
    z-index: 2;
    margin: 0 0 0 20px;

    &:hover {
        
        @media (min-width: $minHover) {

            & .user-menu__header {
                background: $bg-second-l;
            }
            
            & .user-menu__header-arrow {
                transform: scale(1, -1);
            }
        }
    }

    @media (max-width: $laptop-l) {
        // padding: 0;
    }
}

.user-menu__header {
    display: flex;
    align-items: center;
    padding: 8px 6px 8px 10px;
    transition: $tr;

    &:hover {
        
        @media (min-width: $minHover) {

            & + .user-menu__body {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
}

.user-menu__name {
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin: 0 12px 0 0;

    @media (max-width: $laptop-m) {
        display: none;
    }
}

.user-menu__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

    & img {
        object-fit: cover;
    }
}

.user-menu__header-arrow {
    width: 24px;
    height: 24px;
    margin: 0 0 0 2px;
    transition: $tr;
}

// ------------------------
// Нижняя часть
.header__bottom {
    border-top: 1px solid $bg-second-l;

    // &._hide {
    //     display: none;
    // }

    @media (max-width: $tablet-l) {
        display: none;
    }
}

.header__bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 0;
    }
}

.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__item {

    &:not(:last-child) {
        margin-right: 40px;

        @media (max-width: $laptop-l) {
            margin-right: 34px;
        }

        @media (max-width: $laptop-m) {
            margin-right: 28px;
        }

        @media (max-width: $laptop) {
            margin-right: 20px;
        }
    }
}

.header-nav__link {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    // padding: 16px 0;

    @media (max-width: $laptop) {
        font-size: 11px;
    }
}

// Местоположение
.location {
    position: relative;
    z-index: 1;
    background: #fff;
    margin-left: 28px;
    transition: $tr;

    // &:hover {
        
    //     @media (min-width: $minHover) {
    //         background: #EEF1F9;

    //         & .location__body {
    //             opacity: 1!important;
    //             visibility: visible!important;
    //             pointer-events: all!important;
    //         }
    //     }
    // }

    &._show-popup {
        background: #EEF1F9;

            & .location__body {
                opacity: 1!important;
                visibility: visible!important;
                pointer-events: all!important;
            }
    }

    // &_several-cities { // Если несколько городов. Дистанция скроется, кол-во городов появится
    
    //     & .location__distance {
    //         display: none;
    //     }
    
    //     & .location__quantity {
    //         display: block;
    //     }
    // }
}

.location__header {
    cursor: default;
}

.location__header-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.locaiton__icon {
    width: 24px;
    height: 24px;
    display: flex;
}

.location__places,
.location__distance {
    font-size: 12px;
    font-weight: 700;
    color: $text-accent;
    letter-spacing: .02em;
    margin-left: 10px;
    white-space: nowrap;
}

.location__places {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;

    & span {

        &:not(:last-child) {
            margin: 0 4px 0 0;

            &::after {
                content: ',';
            }
        }
    }
}

.location__distance {
    
}

.location__quantity {
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    color: $text-accent;
    background: $btn-second-default;
    border-radius: 50%;
    padding: 0 4px;
    margin-left: 10px;
}

.location__distance,
.location__quantity {
    display: none;

    &._show {
        display: block;
    }
}

// Появляющееся меню
.location__body {
    position: absolute;
    // z-index: 1;
    bottom: 0;
    right: 0;
    width: 320px;
    transform: translate(0, 100%); 
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
    border-radius: 0 0 5px 5px;
    transition: $tr;
}

.location__body-wrap {
    padding: 5px 0 0 0;
}

.location__select {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid $outline-l;

    &._show {
        display: flex;
    }
}

.location__select_countries {

}

.location__select_empty {
    
}

.location__select_regions {

}

// .location__select_countries-empty {

//     & .location__title,
//     & .location__countries {
//         display: none;
//     }

//     & .location__empty {
//         display: inline;
//     }
// }

.location__select-left {

}

.location__title {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.location__countries {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: $text-accent;
    margin: 5px 0 0 0;

    & span {

        &:not(:last-child) {
            margin: 0 4px 0 0;

            &::after {
                content: ',';
            }
        }
    }
}

.location__empty {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}

.location__select-arrow {
    min-width: 24px;
    width: 24px;
    height: 24px;
    display: flex;
}

// Ползунок
.location__radius {
    display: none;
    padding: 15px 16px 20px;

    &._show {
        display: block;
    }
}

.location__radius-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location__radius-title {
    font-size: 14px;
    font-weight: 400;
}

.location__radius-value {
    font-size: 16px;
    font-weight: 600;
    color: $text-accent;
}

.location__radius-body {

}

.location__radius-range {
    width: 100%;
}

.location__body-footer {
    display: none;
    align-items: center;
    justify-content: space-between;
    background: $bg-second-l;

    &._show {
        display: flex;
    }
}

.location__body-footer-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 16px;
}

.location__body-footer-btn-reset {
    color: $text-second-d;
}

.location__body-footer-btn-save {
    color: $text-accent;
}