.mob-menu {

    @media (min-width: 921px) {
        display: none;
    }
}

.mob-menu_auth {

    & .mob-menu__item-sign-in {
        display: none;
    }

    & .mob-menu__item-auth {
        display: flex;
    }
}

.mob-menu__wrap {

}

.mob-menu__popup {
    height: 100%;
}

.mob-menu__header {
    position: relative;
    z-index: 1;

    &._search {

        & .mob-menu__cancel-search {
            display: block;
        }

        & .mob-menu__close {
            display: none;
        }
    }
}

.mob-menu__header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 15px;
}

.mob-menu__cancel-search {
    display: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 10px;
}

.mob-menu__close {
    position: relative;
    top: auto;
    right: auto;
    width: 25px;
    height: 25px;
    margin: 0 0 0 20px;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 2.5px;
        background: $icon-primary-l;
    }
}

.mob-menu__body {
    background: #fff;
    padding: 20px 15px 40px;
    // overflow: hidden;
    transition: $tr;
}

.mob-menu__body-wrap {

}

.mob-menu__list {

}

.mob-menu__item {
    
    &:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

.mob-menu__item-auth {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    // margin: 0 0 10px 0;
}

.mob-menu__item-auth-link {
    display: flex;
    align-items: center;
}

.mob-menu__item-auth-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

    & img {
        object-fit: cover;
    }
}

.mob-menu__item-auth-username {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 10px;
}

.mob-menu__item-auth-log-out {
    width: 25px;
    height: 25px;
    display: flex;
}

.mob-menu__link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    // padding: 10px 0;
    transition: $tr;

    &:active {
        color: $text-accent;
    }
}

.mob-menu__link_accent {

}

.mob-menu__link_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .mob-menu__link-text {
        color: $text-accent;
    }

    & .mob-menu__link-icon {
        width: 30px;
        height: 30px;
        display: flex;
    }
}

.mob-menu__separator {
    width: 100%;
    height: 1px;
    background: $outline-l;
    margin: 20px 0;
}

.mob-menu__footer {
    border-top: none;
    padding: 20px 0 0 0;
}

// Поиск в мобильном меню
.mob-search {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0;
    transition: $tr;

    &._show {
        opacity: 1;
        transform: translate(0, 100%);
    }
}

.mob-search__wrap {

}

.mob-search__services {
    background: $bg-second-l;
    border-bottom: 1px solid $outline-d;
}

.mob-search__services-wrap {
    padding: 15px 0;

}

.mob-search__services-list {
    display: flex;
    padding: 0 15px 10px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 0;
    }
}

// Карточка
.m-search-card {
    width: 72px;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin: 0 15px 0 0;
    }
}

.m-search-card__img {
    width: 72px;
    height: 72px;
    border-radius: $radius;
    overflow: hidden;
    background: #fff;

    & img {
        object-fit: cover;
    }
}

.m-search-card__title {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin: 5px 0 0 0;
}

// Разделы
.mob-search__section-header {
    background: $bg-second-l;
    padding: 15px;
}

.mob-search__section-header-title {
    font-size: 14px;
    font-weight: 600;
}

.mob-search__section-body {

}

.mob-search__section-list {

}

// Карточки разделов
.ms-section-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.ms-section-card__content {
    display: flex;
    flex-direction: column;
}

.ms-section-card__title {
    font-size: 14px;
    font-weight: 500;
}

.ms-section-card__cat {
    font-size: 12px;
    margin: 2px 0 0 0;
}

.ms-section-card__quantity {

}

// Раздел с результатом
.mob-search__result {

}

.mob-search__result-wrap {

}

.mob-search__result-header {

}

// Ничего не найдено
.mob-search__not-found {
    width: 100%;
    // height: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-search__not-found-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mob-search__not-found-icon {
    width: 40px;
    height: 40px;
}

.mob-search__not-found-text {
    font-size: 14px;
    font-weight: 500;
    color: $text-second-d;
    text-align: center;
    margin: 20px 0 0 0;
}

// Локация
.mob-menu__location {
    margin: 0;

    &._show-popup {
        background: none;
    }

    & .location__header-wrap {
        padding: 0;
    }

    // & .location__body {
    //     width: 100%;
    //     position: initial;
    //     opacity: 1;
    //     visibility: visible;
    //     pointer-events: all;
    //     box-shadow: none;
    //     transform: translate(0,0);
    // }
}

// Подменю "Маркетплейс"
.mob-sub-menu {

    &._show {
        
        & .mob-sub-menu__body {
            margin: 20px 0 0 0;
        }
    }
}

.mob-sub-menu__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &._show {

        & .mob-sub-menu__header-title {
            color: $text-accent;
            font-weight: 700;
        }

        & .mob-sub-menu__header-icon {
            transform: rotate(-180deg);

            & svg {

                & path {

                    &:nth-child(2) {
                        fill: $btn-second-default;
                    }
                }
            }
        }
    }
}

.mob-sub-menu__header-title {
    font-size: 16px;
    font-weight: 500;
}

.mob-sub-menu__header-icon {
    width: 30px;
    height: 30px;
    display: flex;
    transition: $tr;
}

.mob-sub-menu__body {
    max-height: 0;
    overflow: hidden;
    transition: $tr;
}

.mob-sub-menu__block {
    margin: 0 0 30px 20px;

    // &:not(:last-child) {
    //     margin-bottom: 30px;
    // }
}

.mob-sub-menu__title {
    font-size: 16px;
    font-weight: 700;
}

.mob-sub-menu__list {
    margin: 5px 0 0 0;
}

.mob-sub-menu__item {

    &:not(:last-child) {
        margin: 0 0 5px 0;
    }
}

.mob-sub-menu__link {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}